{% macro links() %}
<head>
    <!-- Meta Tags -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv='cache-control' content='no-cache'>
    <meta http-equiv='expires' content='0'>
    <meta http-equiv='pragma' content='no-cache'>
    <meta name="description" content="CRM for Doctors - Find and book an appointment with your nearest doctor.">
    <meta name="application-name" content="CRM for Doctors">
    <meta name="theme-color" content="#256679">
    
    <!-- JQuery -->
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

    <!-- GSAP -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.0/gsap.min.js" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.7.0/gsap.min.js" integrity="sha512-2fk3Q4NXPYAqIha0glLZ2nluueK43aNoxvijPf53+DgL7UW9mkN+uXc1aEmnZdkkZVvtJZltpRt+JqTWc3TS3Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    
    <!-- Google APIs -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href = "https://fonts.googleapis.com/icon?family=Material+Icons" rel = "stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@400;500;600;700;800&display=swap">
    
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
</head>
{% endmacro %}


{% macro dummyNav() %}
<div class="dummyNav"></div>
{% endmacro %}


{% macro nav(chat_class) %}
<nav>
    <i class="fa fa-bars"></i>
    <i class="fa fa-times"></i>
    <h1 id="title"> Secret Web App</h1>
    <a class="{{chat_class}}" id="chat" href="{{ url_for('chat.home') }}"><i class="fa fa-comment"></i></a>
</nav>
{% endmacro %}


{% macro sidePanel(current_user) %}
<div class="sidePanel" id="sidePanel">
    <ul>
        <li class="sidePanel-item">
            <i class="fa fa-pencil"></i>
            <a class="nav-link" href="{{ url_for('blog.home') }}"><p>Blog</p></a>
        </li>

        <li class="sidePanel-item">
            <i class="fa fa-info"></i>
            <a class="nav-link" href="#"><p>About Us</p></a>
        </li>

        <li class="sidePanel-item">
            <i class="fa fa-user-secret"></i>
            <a class="nav-link" href="#"><p>Privacy Policy</p></a>
        </li>

        <li class="sidePanel-item">
            <i class="fa fa-key"></i>
            <a class="nav-link" href="#"><p>Terms & Conditions</p></a>
        </li>

        <hr class="sidePanel-item">
        
        {% if current_user.is_authenticated == False %}
            <li class="sidePanel-item highlight">
                <i class="fa fa-user-plus"></i>
                <a class="nav-link" href="{{ url_for('auth.sign_up') }}"><p>Sign up</p></a>
            </li>
            
            <li class="sidePanel-item highlight">
                <i class="fa fa-sign-out"></i>
                <a class="nav-link" href="{{ url_for('auth.log_in') }}"><p>Log in</p></a>
            </li>
        {% else %}   
            <li class="sidePanel-item highlight-alert">
                <i class="fa fa-sign-out"></i>
                <a class="nav-link" href="{{ url_for('auth.log_out') }}"><p>Log out</p></a>
            </li>
        {% endif %}
    </ul>
</div>
{% endmacro %}


{% macro footer(shop,home,user) %}
<footer>
    <a class="{{shop}}" id="shop" href="{{ url_for('shop.home') }}"><i class="fa fa-shopping-cart"></i></a>
    <a class="{{home}}" id="home" href="{{ url_for('home.homepage') }}"><i class="fa fa-home"></i></a>
    <a class="{{user}}" id="user" href="{{ url_for('user.home') }}"><i class="fa fa-user"></i></a>
</footer>
{% endmacro %}
