{% macro doctorCardSkeleton() %}
<div class="doctor-card ">
    <div class="left">
        <div class="loading-animation"></div>
        
        <a class="view-profile-left loading-animation" href="#"></a>
    </div>

    <div class="right">
        <div class="name">
            <h3 class="loading-animation"></h3>
            <p class="loading-animation"></p>
        </div>

        <div class="rating">
            <div class="rate loading-animation"></div>

            <div class="rate-count loading-animation"></div>
        </div>

        <div class="speciality">
            <p class="loading-animation"></p>
            <p class="loading-animation"></p>
            <p class="loading-animation"></p>
            <p class="loading-animation"></p>
            <p class="loading-animation"></p>
        </div>

        <a class="view-profile-right" href="#"></a>
    </div>
</div>
{% endmacro %}