{% from "/macros/macro.html" import links, dummyNav, nav, sidePanel, footer %}

<!DOCTYPE html>
<html lang="en" data-theme="dark">
    <head>
        {{ links()}}

        <link rel="stylesheet" href="{{url_for('static', filename='css/nfs.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename='css/home.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename='css/essentials.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename='css/login.css')}}">
        <link rel="stylesheet" media="screen and (max-width: 576px)" href="{{url_for('static', filename='css/mobile/login.css')}}">
        
        <title>Login</title>

        <style>
            
        </style>
    </head>

<body>
    <header>
        {{ dummyNav() }}
        {{ nav() }}
        {{ sidePanel(current_user) }}
        
        {% with success = get_flashed_messages(category_filter=["success"]) %}
            {% if success %}
                <div class="flash" id="flash-success">
                    <ul>
                        {% for msg in success %}
                            <li class="flash-message" data-type="success"><i class="fa fa-exclamation-triangle"></i>{{ msg }}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
        {% endwith %}

        {% with errors = get_flashed_messages(category_filter=["error"]) %}
            {% if errors %}
                <div class="flash" id="flash-error">
                    <ul>
                        {% for msg in errors %}
                            <li class="error-message" data-type="error"><i class="fa fa-exclamation-triangle"></i>{{ msg }}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
        {% endwith %}
    </header>
    
    <main>
        <section class="content">
            <div class="container">
                <form id="form" method="POST" action="{{ url_for('auth.log_in') }}">
                    <div>
                        {{ form.csrf_token }}

                        <input type="hidden" name="next" value="{{ request.args.get('next', '') }}" />
                    </div>

                    <div class="fields-div">
                        <div class="fields-sub-div">
                            <!-- User name -->
                            <div class="fields">
                                {{ form.username(placeholder="Username or Email ID : ", autocomplete="off") }}

                                <div class="errors">
                                    <ul>
                                        {% for error in form.username.errors %}
                                            <li class="error-message"><i class="fa fa-exclamation-triangle"></i>{{ error }}</li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>

                            <!-- Password -->
                            <div class="fields">
                                {{ form.password(placeholder="Password : ", autocomplete="off") }}

                                <div class="errors">
                                    {% with errors = get_flashed_messages(category_filter=["error"]) %}
                                        {% if errors %}
                                            <ul>
                                                {% for msg in errors %}
                                                    <li class="error-message"><i class="fa fa-exclamation-triangle"></i>{{ msg }}</li>
                                                {% endfor %}
                                            </ul>
                                        {% endif %}
                                    {% endwith %}
                                </div>

                                <div>
                                    <p class="forgotPassword">Forgot Password</p>
                                </div>
                            </div>
                            
                            <!-- Remember me -->
                            <div class="fields" style="display: flex; justify-content: space-between; align-items: center;">
                                {{ form.remember(placeholder="Password : ", autocomplete="off") }}
                                {{ form.remember.label }}

                                <div class="errors">
                                    <ul>
                                        {% for error in form.remember.errors %}
                                            <li class="error-message"><i class="fa fa-exclamation-triangle"></i>{{ error }}</li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>

                            <!-- Recaptcha -->
                            <div class="fields" style="margin-bottom: 0;">
                                {{ form.recaptcha }}
                            </div>
                        </div>
                    </div>

                    <!-- Form buttons -->
                    <div class="bottom-buttons">
                        <!-- Login button -->
                        <div class="fields">
                            <input class="login-button" type="submit" value="Login">
                        </div>
                    </div>

                    <!-- Signup buttons -->
                    <div class="signup-buttons">
                        <a class="button" href="{{ url_for('auth.sign_up_as_user') }}">Sign up as User</a>
                        <p style="color: white;">or</p>
                        <a class="button" href="{{ url_for('auth.sign_up_as_doctor') }}">Sign up as Doctor</a>
                    </div>
                </form>
            </div>
        </section>
    </main>
    
    {{ dummyNav() }}
    {{ footer("footer-item", "footer-item", "footer-item") }}

    <script type = "text/javascript" src = "{{ url_for('static', filename = 'js/essentials.js') }}"></script>
    <script type = "text/javascript" src = "{{ url_for('static', filename = 'js/nav.js') }}"></script>
</body>
</html>